.Pointer{cursor: pointer;}

.Bouton_Fermer_Fenetre{
    position: absolute;
    top:11px;
    right: 14px;
    width: 38px;
    height: 38px;
    background: url('../images/icones/fermer.png') no-repeat;
    opacity: .8;
}
.Bouton_Fermer_Fenetre:hover{opacity: 1;}
.Bouton_Fermer_Fenetre:active{opacity: .9;}


.Cursor{

    cursor: pointer;
}


.Zone_Archives{

    position: absolute;
    top: 80px;
    right: 20px;
    width: 775px;
    max-height: 450px;
    overflow-y:auto;
    border-bottom: 1px solid grey;
}


.Tableau_Archives {
    background: url('../images/motif_th.png');
    border-collapse:collapse;
    color: #cccccc;
    width: 100%;
    border:1px solid grey;
    border-bottom: none;
    font-size: 13px;
}
.Tableau_Archives th, .Tableau_Archives td {padding:3px 3px;}

.Tableau_Archives th {
    background: url('../images/motif.png'); 
    color:#DDDDDD;
    font-variant: small-caps;
    text-align:left;
    border:1px solid grey;
    text-indent: 2px;
    font-size: 15px;
}
.Tableau_Archives tr.bg td {background-color:#e8f6ff;}

.Zone_De_Definition_Pseudo{

    position: relative;
    top:150px;
    width: 380px;
    height: 210px;
    margin: 0 auto 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px grey;
    background: #333333;
}

.Titre_Definition_Pseudo{

    position: relative;
    top:6px;
    left:57px;
    color: white;
    text-shadow: 1px 0 3px black;
    font-weight: bold;
    font-size: 15px;

}

#Table_Definition_Pseudo{

    position: relative;
    top:47px;
    width: 95%;
    font: 11px Verdana, Arial, Helvetica, sans-serif; 
    color: #cccccc;
    margin: 0 auto 0 auto;
    left:90px;

}

#Table_Definition_Pseudo td{

    position: relative;
    width: 100px;
    border: none;
    margin: 0 auto 0 auto;
}
.Zone_Definition_Pseudo {
    position: relative; 
    width: 180px; 
    height: 20px; 
    text-indent: 4px; 
    background:url('../images/inputrecherche.png'); 
    border: none; 
    box-shadow: 0px 0px 3px 1px grey;
    margin:0; 
    font: 9px Verdana, Arial, Helvetica, sans-serif; 
    color: #999999; 
}

.Zone_Definition_Pseudo_Rouge {
    position: relative; 
    width: 180px; 
    height: 20px; 
    text-indent: 4px; 
    background:url('../images/inputrecherche.png'); 
    border: none; 
    box-shadow: 0px 0px 3px 2px red;
    margin:0; 
    font: 9px Verdana, Arial, Helvetica, sans-serif; 
    color: #999999; 
}

.Zone_Definition_Pseudo_Vert {
    position: relative; 
    width: 180px; 
    height: 20px; 
    text-indent: 4px; 
    background:url('../images/inputrecherche.png'); 
    border: none; 
    box-shadow: 0px 0px 3px 2px green;
    margin:0; 
    font: 9px Verdana, Arial, Helvetica, sans-serif; 
    color: #999999; 
}

.Bouton_Zone_Definition_Pseudo{

    position: relative;
    height: 18px;
    width: 70px;
    margin: 13px auto 0px auto;
    background:url('../images/Bouton_Valider.png') no-repeat; 
    box-shadow: 0px 0px 3px 1px grey;
    border: 1px solid transparent;
    color: transparent;
    left:150px;
    top:78px;
}

.Bouton_Zone_Definition_Pseudo:active{ border: 1px groove black;}

/* ------------ Style page message --------------- */

.Zone_Message{

    position: absolute;
    left:15px;
    width: 650px;
    height: 455px;
    border: 1px solid grey;
    background: #222222;
}

.Zone_Droite_Message{

    position: absolute;
    width: 300px;
    height: 455px;
    right: 15px;
    border: 1px solid grey;
    background: #222222;
}

.Cadre_Droite_Message_Titre{

    width: 100%;
    height: 28px;
    background: url('../images/item_shop/item_shop_haut.png');
    border-bottom: 1px solid grey;
    text-align: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: white;
    line-height: 28px;
}

.Cadre_Contenue_Message_Titre{

    width: 100%;
    height: 28px;
    background: url('../images/item_shop/item_shop_haut.png');
    border-bottom: 1px solid grey;

    text-align: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: white;
    line-height: 28px;
}

.Tableau_Creation_Ticket{

    position: relative;

    top:10px;
    width: 97%;
    margin: 0 auto 0 auto;
    border: 1px solid grey;

    border-collapse: collapse;
    color: white;
    background: url('../images/motif_th.png');

}

.Tableau_Creation_Ticket td{

    border: none;
    border-bottom: 1px solid grey;
    padding: 3px;
    padding-left: 5px;
}

.Textarea_Nouveau_Ticket{

    margin: 5px;
    background: #333333;
    width: 98%;
    height: 268px;
    resize: none;
    border: 1px solid grey;
    color: white;
    margin-top: 0px;
}

.Input_Nouveau_Ticket{

    width: 200px;
    color: white;
    background: url('../images/hexabump.png');
    border: 1px solid grey;
    padding: 3px;
    padding-left: 5px;
}

.Zone_Message table select{

    background: #444444;
    width: 200px;
    color: white;
    border: 1px solid grey;
}

.Bouton_Valider_Ticket_Support{

    position: relative;
    background: url('../images/Bouton_Valider.png') no-repeat;
    width: 70px;
    height: 18px;
    margin: 3px;
    left:250px;
}

.Informations_Nouveau_Ticket{

    position: absolute;
    top:41px;
    color: white;
    width: 100%;
    border: none;
    border-collapse: collapse;
    background: url('../images/hexabump.png');
}

.Informations_Nouveau_Ticket td{

    border: none;
    border-top: 1px solid grey;
    width: 50%;
    padding-left: 3px;

}

.Message_Trop_De_Ticket{

    position: relative;
    width: 300px;
    height: 150px;
    border: 1px solid grey;
    background-color: #444444;
    color: white;
    top:115px;
    left:177px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px grey;
}

.Titre_Message_Trop_De_Ticket{

    width: 100%;
    height: 25px;
    background: url('../images/item_shop/item_shop_haut.png');
    text-align: center;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    line-height: 25px;
}

.Contenue_Message_Trop_De_Ticket{

    position: relative;
    top: 7px;
    border: 1px solid black;
    width: 270px;
    height: 97px;
    margin: 0 auto 0 auto;
    background: #111111;
    border-radius: 3px;
    padding: 5px;
    font-size: 13px;

}

#Cadre_Fil_Reponse{

    width: 97%;
    height: 70px;
    background: url('../images/motif_th.png');
    margin: 0 auto 0 auto;
    border-collapse:collapse;
    color: #cccccc;
    border:1px solid grey;
    font-size: 15px;
    padding:3px 3px;
}

#Cadre_Fil_Informations{

    width: 97%;
    height: 45px;
    background: url('../images/motif_th.png');
    margin: 0 auto 0 auto;
    border-collapse:collapse;
    color: #cccccc;
    border:1px solid grey;
    font-size: 15px;
    padding:3px 3px;
    margin-bottom: 20px;
}

#Cadre_Fil_Discussion{

    width: 97%;
    height: 280px;
    background: url('../images/motif_th.png');
    margin: 0 auto 0 auto;
    border-collapse:collapse;
    color: #cccccc;
    border:1px solid grey;
    font-size: 15px;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
}

#Cadre_Fil_Discussion_Viewer{

    width: 97%;
    height: 375px;
    background: url('../images/motif_th.png');
    margin: 0 auto 0 auto;
    border-collapse:collapse;
    border-radius:8px;
    color: #cccccc;
    border:1px solid grey;
    font-size: 15px;
    margin-bottom: 20px;
    overflow-y: scroll;
    padding-top: 5px;
}

.Message_Droite{
    width: 54%;
    min-height: 30px;
    background: #86BBEF;
    color: black;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius:7px 0 0 7px;
    opacity: .9;
}

.Message_Gauche{

    width: 54%;
    min-height: 30px;
    background: #D6D6D6;
    color: black;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius:0 7px 7px 0;

    opacity: .9;
}

.Message_Gauche:hover, .Message_Droite:hover{
    opacity: 1;
}

.Date_Du_Message{
    display: inline;
    clear: both;
    font-size: 11px;
}

.Etat_de_Visionnage{
    float: right;
    display: inline;
    clear: both;
    font-size: 11px;
}

#Table_Fil_Information{
    display: inline-table;
    position: relative;
    border-collapse: collapse;
    color: white;
    border: none;
    width: 35%;
    left:10px;
    top:2px;
    font-size: 13px;
}

#Table_Fil_Information td{border: none;border-bottom: 1px solid grey;}

#Table_Fil_Information2{
    display: inline-table;
    position: relative;
    border-collapse: collapse;
    color: white;
    border: none;
    width: 30%;
    left:30px;
    top:2px;
    font-size: 13px;
}
#Table_Fil_Information2 td{border: none;border-bottom: 1px solid grey;}

.Textarea_Reponse_Ticket{

    position: relative;
    left:7px;
    top:7px;
    background: #333333;
    width: 90%;
    height: 55px;
    resize: none;
    border: 1px solid grey;
    color: white;
}

.button_Envoyer_Reponse_Ticket{

    position: relative;
    left:889px;
    top:-48px;
    width: 70px;
    height: 53px;
    background: #333333;
    border: 1px solid grey;
    color: white;
    line-height: 53px;
    text-align: center;

    opacity: .8;
}

.button_Envoyer_Reponse_Ticket:hover{
    opacity: 1;
    cursor: pointer;
}

.Logo_Croix_Suppression_Message{

    position: relative;
    display: none;
    float: right;
    clear: both;

    top:0px;
    cursor: pointer;
    opacity: .7;
}

.Logo_Croix_Suppression_Message:hover{opacity: 1;}

hr{
    border: 1px groove #999999;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 1px;
}

#Bouton_Archiver_Discussion{

    position: relative;
    left:689px;
    top:-37px;
    width: 120px;
    height: 40px;
    background: #333333;
    border: 1px solid grey;
    color: white;
    line-height: 40px;
    text-align: center;

    opacity: .8;
}

#Bouton_Archiver_Discussion:hover{
    opacity: 1;
    cursor: pointer;
}

#Tableau_Recapitulatif_Boite_Messagerie{
    position: absolute;
    top:80px;
    left:20px;
    width: 215px;
    border: 1px solid #303030;
    text-align: left;
    text-indent: 7px;
    line-height: 20px;
    font-size: 13px;
    border-collapse: collapse;
    border-radius:3px;
    margin-right: 20px;
    color: #cccccc;
    background: url('../images/motif_th.png');
    font-size: 12px;
}

#Tableau_Recapitulatif_Boite_Messagerie td{ border: 1px solid grey; }
#Tableau_Recapitulatif_Boite_Messagerie th{height: 23px;font-size: 14px;border: 1px solid grey;}
#Tableau_Recapitulatif_Boite_Messagerie .Colonne_Gauche{
    width: 100px;
    background:url('../images/motif.png');
    border: 1px solid grey;
    color: #DDDDDD;
    text-align: left;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
}

#Tableau_Recapitulatif_Archives{
    position: absolute;
    top:80px;
    left:20px;
    width: 170px;
    border: 1px solid #303030;
    text-align: left;
    text-indent: 7px;
    line-height: 20px;
    font-size: 13px;
    border-collapse: collapse;
    border-radius:3px;
    margin-right: 20px;
    color: #cccccc;
    background: url('../images/motif_th.png');
    font-size: 12px;
}

#Tableau_Recapitulatif_Archives td{ border: 1px solid grey; }
#Tableau_Recapitulatif_Archives th{height: 23px;font-size: 14px;border: 1px solid grey;}
#Tableau_Recapitulatif_Archives .Colonne_Gauche{
    width: 90px;
    background:url('../images/motif.png');
    border: 1px solid grey;
    color: #DDDDDD;
    text-align: left;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
}


#Tableau_Recapitulatif_Attente{
    position: absolute;
    top:80px;
    left:20px;
    width: 215px;
    border: 1px solid #303030;
    text-align: left;
    text-indent: 7px;
    line-height: 20px;
    font-size: 13px;
    border-collapse: collapse;
    border-radius:3px;
    margin-right: 20px;
    color: #cccccc;
    background: url('../images/motif_th.png');
    font-size: 12px;
}

#Tableau_Recapitulatif_Attente td{ border: 1px solid grey; }
#Tableau_Recapitulatif_Attente th{height: 23px;font-size: 14px;border: 1px solid grey;}
#Tableau_Recapitulatif_Attente .Colonne_Gauche{
    width: 140px;
    background:url('../images/motif.png');
    border: 1px solid grey;
    color: #DDDDDD;
    text-align: left;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
}