.Nombre_De_Resultat_Recherches{
    position: relative;
    top:9px;
    left:6px;
}

.Images_Recherches{
    position: relative;
    top:2px;
    height: 21px;
    background: #303030;
    border: 1px solid grey;
}

/* ------------------------------ Bannissement/Debannissement  --------------------------------- */
.Conteneur_Tableau_Historiques_Bannissement{position: relative; max-height: 185px; top: 30px;width: 97%;margin: 0 auto 0 auto;overflow-y: auto;border-bottom: 1px solid grey;}
.Information_Bannissement{position: relative;top:10px;width: 97%;margin: 0 auto 0 auto;height: 250px;border: 1px solid grey;}

.Administration_Survol_TD:hover{background: #444444;cursor: pointer;}
.Formulaire_Bannissement{position: absolute;top:20px;right: 20px;width: 350px;height: 209px;border: 1px solid grey;}
.Selecteur_Bannissement{background: #333333;border: 1px solid grey;width: 205px;margin-right: -7px;position: relative;left:-7px;color: #EFEFEF;}
.Zone_Commentaire{position: relative;width: 205px;border: 1px solid grey;background: #333333;color: #EFEFEF;left:-7px;margin-right: -7px;text-indent: 3px;}
.Bannissement_Piece_Monnaie{position: relative;top:3px;left:-1px;}
.Texte_Monnaie_Bannissement{position: relative;top:-1px;}