.articleItemShop{
    position: relative; 
    width: 190px;
    height: 163px; 
    display: inline-block; 
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #484848;
    cursor: pointer;
    background: #424242;

    &:hover{ background: #464646; }
}

.btnItemShopCategorie{
    color: #F0FFFF; 
    background-color: #424242; 
    border:none;
    
    &:hover{ background: #464646; color: #F0FFFF;}
    &:focus{ color: #F0FFFF;}
}

.Nom_Article{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 13px;
    padding: 0 6px;
    padding-top: 5px;
}

.articlePrixItemShop{
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    color: #FFFFFF;
    padding: 3px 7px;
}

.articleNombreItemShop{
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: inline-block;
    font-weight: 700;
    color: #E0D8CB;
}

.Position_Label_Prix{
    position: relative;
    float: left;
    width: 35px;
    left:4px;
    top:1px;
}

.Icone_Piece{
    position: relative;
    float: right;
    width: 16px;
    height: 16px;
    left:18px;
}

.imgArticle{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;
    top: 50%;
}

.imgArticlePetite{
    top: 20%;
}
.imgArticleGrande{
    height: 50%;
    top: 4%;
}
.imgArticleTresGrande{
    height: 53%;
    top: 0%;
}

/* --------------------- Detail items --------------------- */


#Rechargement_Resultat_Titre{

    width: 100%;
    height: 26px;
    background: url('../images/item_shop/item_shop_haut.png');
    border-bottom: 1px solid white;
    border-radius: 0 0 15px 15px;


    text-align: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 9px;
}

.Contenue_Resultat_Rechargement{
    position: relative;
    top:20px;
    width: 90%;
    margin: 0 auto 0 auto;
    height: 102px;
    border: 1px solid grey;
    font-size: 14px;
    background: #111111;
    color: white;
    padding: 5px;
}

.Texte_Resultat_Rechargement{

    position: relative;
    width: 100%;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 14px;
    top:5px;
    left:5px;

}