.Article_Marche{
    position: relative; 
    padding: 5px; 
    padding-top: 2px; 
    width: 200px; 
    height: 200px; 
    display: inline-block; 
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #424242;
    cursor: pointer;
}

.Article_IS:hover{
    background: #1C1C1C;

}
.Article_IS:active{
    background: #2A2A2A;

}

.Nom_Article_Marche{
    position: relative;
    top: 2px;
    left: 5px;
}

.Level_Personnage{

    float: right;
    border-left: 1px solid #CCCCCC;
    width: 81px;
    text-align: center;
    text-indent: -2px;
}

.Icone_Piece{

    position: relative;
    float: right;
    width: 16px;
    height: 16px;
    right: -39px;
    top:1px;
}


.Detail_Article{

    position: relative;
    width: 129px;
    height: 43px;
    border: 1px solid grey;
    top:-132px;
    left:685px;
    color: white;
    font-weight: bold;
}

.Position_Loupe_Detail{
    opacity: 0.7;
}
.Position_Loupe_Detail:hover{

    opacity: 1;
    cursor: pointer;
}

.Position_Loupe_Detail:active{

    opacity: 0.9;
}

.Position_Icone_Article_Personnage{

    position: relative;
    top:3px;
    left: 20px;
    margin: 0 auto 0 auto;
}

.Bouton_Supprimer_Vente{

    position: relative;
    right: 100px;
    float: right;
    top:2px;
    opacity: .8;
}

.Bouton_Supprimer_Vente:hover{
    cursor: pointer;
    opacity: 1;
}