@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url('../fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-22 { font-size: 22px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-icon-home:before{content: "\e88a";}
.material-icons.md-icon-person:before{content: "\e7fd";}
.material-icons.md-icon-spin:before{content: "\e627";}
.material-icons.md-icon-help:before{content: "\e887";}
.material-icons.md-icon-info:before{content: "\e88e";}
.material-icons.md-icon-time:before{content: "\e192";}
.material-icons.md-icon-local-phone:before{content: "\e551";}
.material-icons.md-icon-smartphone:before{content: "\e324";}
.material-icons.md-icon-print:before{content: "\e555";}
.material-icons.md-icon-mail:before{content: "\e158";}
.material-icons.md-icon-chevron-right:before{content: "\e5cc";}
.material-icons.md-icon-people:before{content: "\e7fb";}
.material-icons.md-icon-event:before{content: "\e878";}
.material-icons.md-icon-event-available:before{content: "\e614";}
.material-icons.md-icon-event-busy:before{content: "\e615";}
.material-icons.md-icon-setting:before{content: "\e8b8";}
.material-icons.md-icon-close:before{content: "\e5cd";}
.material-icons.md-icon-location-city:before{content: "\e7f1";}
.material-icons.md-icon-poll:before{content: "\e801";}
.material-icons.md-icon-folder:before{content: "\e2c7";}
.material-icons.md-icon-folder-shared:before{content: "\e2c9";}
.material-icons.md-icon-forum:before{content: "\e0bf";}
.material-icons.md-icon-adjust:before{content: "\e39e";}
.material-icons.md-icon-view-list:before{content: "\e8ef";}
.material-icons.md-icon-arrow-down:before{content: "\e313";}
.material-icons.md-icon-arrow-back:before{content: "\e5c4";}
.material-icons.md-icon-warning:before{content: "\e002";}
.material-icons.md-icon-lock:before{content: "\e897";}
.material-icons.md-icon-account-circle:before{content: "\e853";}
.material-icons.md-icon-account-box:before{content: "\e851";}
.material-icons.md-icon-paint:before{content: "\e243";}
.material-icons.md-icon-supervisor:before{content: "\e8d3";}
.material-icons.md-icon-location:before{content: "\e55c";}
.material-icons.md-icon-domain:before{content: "\e7ee";}
.material-icons.md-icon-calendar_person:before{content: "\e8a3";}
.material-icons.md-icon-poll:before{content: "\e801";}
.material-icons.md-icon-add-circle:before{content: "\e147";}
.material-icons.md-icon-group:before{content: "\e7ef";}
.material-icons.md-icon-menu:before{content: "\e5d2";}
.material-icons.md-icon-input:before{content: "\e890";}
.material-icons.md-icon-description:before{content: "\e873";}
.material-icons.md-icon-storage:before{content: "\e1db";}
.material-icons.md-icon-accessibility:before{content: "\e84e";}
.material-icons.md-icon-history:before{content: "\e889";}
.material-icons.md-icon-save:before{content: "\e161";}
.material-icons.md-icon-more-vertical:before{content: "\e5d4";}

.material-icons.md-icon-add:before{content: "\e145";}
.material-icons.fa-plus:before{content: "\e145";}
.material-icons.fa-minus:before{content: "\e15b";}

.material-icons.md-icon-edit:before{content: "\e254";}
.material-icons.md-icon-delete:before{content: "\e872";}
.material-icons.md-icon-arrow-forward:before{content: "\e5c8";}
.material-icons.md-icon-search:before{content: "\e8b6";}
.material-icons.md-icon-visible:before{content: "\e8f4";}
.material-icons.md-icon-invisible:before{content: "\e8f5";}
.material-icons.md-icon-link:before{content: "\e157";}
.material-icons.md-icon-place:before{content: "\e55f";}
.material-icons.md-icon-download:before{content: "\e2c4";}
.material-icons.md-icon-folder-open:before{content: "\e2c8";}
.material-icons.md-icon-file-upload:before{content: "\e2c6";}
.material-icons.md-icon-not-interested:before{content: "\e033";}
.material-icons.md-icon-message:before{content: "\e0C9";}
.material-icons.md-icon-attach-file:before{content: "\e226";}
.material-icons.md-icon-archiv:before{content: "\e149";}
.material-icons.md-icon-open-new:before{content: "\e89e";}
.material-icons.md-icon-arrow-drop-up:before{content: "\e5c7";}
.material-icons.md-icon-arrow-drop-down:before{content: "\e5c5";}
.material-icons.md-icon-done:before{content: "\e876";}
.material-icons.md-icon-filter-none:before{content: "\e3e0";}
.material-icons.md-icon-library-book:before{content: "\e02f";}
.material-icons.md-icon-power:before{content: "\e8ac";}
.material-icons.md-icon-refresh:before{content: "\e863";}
.material-icons.md-icon-list:before{content: "\e896";}

.material-icons.md-icon-spin{
    -webkit-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}
@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}

.btn-material{line-height: 0;padding: 5px 5px;}
.btn-material:active{-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);box-shadow: inset 0 3px 5px rgba(0,0,0,0);}
.btn-material i{font-size: 20px;}