@charset "utf-8"; 

*{
    outline: none;
}

/* Let's get this party started */
*::-webkit-scrollbar {width: 17px;border: 1px solid grey;background: #333333;}
/* Track */
*::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px #111111; -webkit-border-radius: 3px;border-radius: 3px;}
/* Handle */
*::-webkit-scrollbar-thumb {-webkit-border-radius: 3px;border-radius: 3px;width: 13px;border: 1px solid grey;background: #111111; -webkit-box-shadow: inset 0 0 6px #111111;}


html { 
    -ms-overflow-style: scrollbar;
    background: url("../../images/fond.jpg") fixed no-repeat top center #252219;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.myBootBox{
    z-index: 999999;
}

.modal-content{
    background-color: #434343;
    border: 1px solid #727272;
}

.direct-chat-text{
    border-radius: 0px;
    border: 0px;
}

.modal-header{
    border-bottom-color: #838383;
}
.modal-header .close{
    text-shadow: none;
    color: #FFF;
    opacity: 0.5;
    font-weight: normal;
    font-size: 24px;
}
.modal-footer{
    border-top-color: #838383;
}

.modal-footer .btn{
    border-radius: 0px;
}

#logo{
    position:relative;
    width:360px;
    height:73px;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

@media (max-width: 767px) {
    #logo{
        padding-top: 30impx;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: transparent;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    font-size:13px;
    color:white;
    margin: 0px;
    padding: 0px;
}

#overlayMt2{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.box-telechargement-exe{
    border: 1px solid #6D4949; 
    background-color: #6D1A0C !important; 
    cursor: pointer;
    color:white;
}

.box-telechargement-exe:hover{
    background-color: #8F220F !important; 
}

.box-telechargement-torrent{
    border: 1px solid #668D47; 
    background-color: #3E661E !important; 
    cursor: pointer;
    color:white;
}

.box-telechargement-torrent:hover{
    background-color: #53852A !important; 
}

.box .overlay, .overlay-wrapper .overlay{
    background: rgba(40, 40, 40, 0.7);

}

.box .overlay>.fa, .overlay-wrapper .overlay>.fa{
    color:white;
    font-size: 45px;
}

/* ------------ Zone menu/drapeau/recherche -------------------  */

#Barre_Haut {
    position: relative;
    top:0px;
    left:0px;
    width: 100%; 
    min-height: 46px; 
    background: #2B2B2B;
    position: fixed;
    z-index: 99999;
    line-height: 46px;
}

.content-wrapper, .right-side{
    background: transparent;
}
/* ------------ Header -------------------  */
header {
    position: relative;
    height: 120px;  
    margin: 70px auto 0 auto; 
    padding: 0px 0 0 0;
    z-index: 555;
}

/* ------------ Container de contenu -------------------  */
#contenu {
    position: relative;
    min-height: 670px;
    margin: 0 auto 0 auto; 
    padding: 0;
    padding-bottom: 25px;
    margin-top:55px;
    margin-bottom:20px;
    opacity: 1;
    overflow: hidden;
}

/* ------------ Colonne Gauche  -------------------  */

.box{
    border-top: 0px;
    border: 1px solid #4C4C4C;
    border-top-color: #4E4E4E !important;
}

.box-header {
    background: #191919;
    border-bottom: 1px solid #4C4C4C;
    color:white;
}

.box-body {
    background: #212121;
    border-radius: 0px !important;
    color:#D2D2D2;
}

.box-footer{
    background: #212121;
    border-radius: 0px !important;
    color:#D2D2D2;
    border-top: 1px solid #A0A0A0;
}

/* ------------ Colonne Centre (texte)-------------------  */

.Cadre_Principal{

    position: relative;
    top:10px;
    width: 700px;
    margin: 0px auto 30px auto; 
}

#colonneCentreHome {width: 700px; margin: 0 30px 0 78px; float: left;}

/* ------------ Bas de page, footer -------------------  */
footer {
    bottom:0px; 
    left:0px;
    width: 100%;
    min-height: 30px;
    background: #2B2B2B;
    position: fixed;
    z-index: 99999;
    line-height: 34px;
}
@media (max-width: 767px) {
    footer {
        position: relative;
    }

    .paddingPrincipal{
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 767px){
    .table-responsive {
        border: 0px solid #ddd;
    }
}

.table-hover>tbody>tr:hover{
    background-color: #3F3F3F;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: 1px solid #545454;
}
.table>thead>tr>th{
    border-bottom: 2px solid #666666;
}

#Copyright{
    display: inline-block;
    text-align: center;
}


.Ligne_Classement{ font-size: 13px;color: #cccccc;}

.ImageVideoNouveaute{
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.ImageVideoNouveaute:hover{
    opacity: 1;
}

.Dimension_Image_Classement{
    position: relative;
    height: 21px;
    background: #303030;
    border: 1px solid #4E4E4E;
}


.Bouton_Normal{

    text-align: center;
    border: 1px solid grey;
    color: #DDDDDD;
    font-weight: bold;
    box-shadow: 0px 0px 5px 1px black, inset 0px 0px 5px 1px black;
    text-decoration: none;
}
.Bouton_Normal:hover{box-shadow: none;cursor: pointer;}
.Bouton_Normal:active{box-shadow: 0px 0px 5px 1px black, inset 0px 0px 5px 1px black;}


.Position_Widget_Facebook{

    position: absolute;
    top:5px;
}

#Icone_Chargement{

    position: relative;
    top:4px;
}

#countdown_dashboard {
    height: 96px;
    width: 630px;
    margin: 0 auto 0 auto;
}

.dash {
    display: inline-block;
    width: 138px;
    height: 96px;
    margin-left: 10px;
    position: relative;
    color: #333;
}

.weeks_dash, .days_dash, .hours_dash, .minutes_dash, .seconds_dash{
    border: 1px solid grey;
    -webkit-box-shadow: 0px 0px 8px 2px black;
    -moz-box-shadow: 0px 0px 8px 2px black;
    -o-box-shadow: 0px 0px 8px 2px black;
    box-shadow: 0px 0px 4px 1px black;
}

.weeks_dash {
    background: transparent url('../../images/compte_a_rebours/dark_weeks_dash.png') 0 0 no-repeat;
    display: none;
}

.days_dash {
    background: transparent url('../../images/compte_a_rebours/dark_days_dash.png') 0 0 no-repeat;
}

.hours_dash {
    clear: left;
    background: transparent url('../../images/compte_a_rebours/dark_hours_dash.png') 0 0 no-repeat;
}

.minutes_dash {
    background: transparent url('../../images/compte_a_rebours/dark_minutes_dash.png') 0 0 no-repeat;
}

.seconds_dash {
    background: transparent url('../../images/compte_a_rebours/dark_seconds_dash.png') 0 0 no-repeat;
}

.digit {
    font: bold 52pt Verdana;
    font-weight: bold;
    float: left;
    width: 59px;
    text-align: center;
    position: relative;
    left: 14px;
}

.dash_title {
    display: none;
}

.btn-default{
    background-color: #373737; 
    border-color: #606060;
    color:white;
}

.btn-default:hover{
    background-color: #3E3E3E; 
    border-color: #606060;
    color:white;
}

.btn-pile{
    margin-bottom: 10px;
}

.btn-pile:last-child{
    margin-bottom: 0px;
}


/* ---------------------------------------------------------------------------*/

.Image_News{
    border: 1px solid grey;
}

.input-group-addon{
    background: #1B1B1B !important;
    border-color: #676767 !important;
    padding: 4px 8px !important;
}


.form-control{
    background: #1B1B1B !important;
    border-color: #676767 !important;
    color: white;
}

.form-control:disabled{
    background: #3D3D3D !important;
}

.form-control:focus{
    border-color: #73613F !important;
}

label{
    font-weight: normal;
}


#Icone_Sons:hover{
    cursor: pointer;
}

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
    border-radius: 0px !important;
    box-shadow: none;
    z-index: 999999;
}
.ui-tooltip-content {
    position: relative;
    padding: 0.7em;
    border-radius: 0px !important;
    box-shadow: none;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.right .ui-tooltip-content::after {
    top: 5px;
    left: -10px;
    border-color: transparent #666;
    border-width: 10px 10px 10px 0;
}
.left .ui-tooltip-content::after {
    top: 5px;
    right: -10px;
    border-color: transparent #666;
    border-width: 10px 0 10px 10px;
}
.top .ui-tooltip-content::after {
    bottom: -10px;
    left: 50%;
    border-color: #666 transparent;
    border-width: 10px 10px 0;    
}
.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 50%;
    border-color: #666 transparent;

    border-width: 0 10px 10px;
}

.isItemMetin .ui-tooltip-content{
    background: #070707;
    border: 1px solid #494949
}

.isItemMetin .ui-tooltip-content::after{
    content: initial;
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}

.nav-tabs-custom>.nav-tabs{
    border-bottom-color: #525252;
    border-top-right-radius: 0px; 
    border-top-left-radius: 0px;
}


.nav-tabs-custom>.tab-content{
    background: transparent;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0px;
}

.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a{
    background-color: #494949;
    color: white;
}
.nav-tabs-custom>.nav-tabs>li.active>a{
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 0px;
}

.nav-tabs-custom>.nav-tabs>li>a{
    color: #7B7B7B;
}

.nav-tabs-custom>.nav-tabs>li{
    border-top: 0px;
}

.nav-tabs-custom>.nav-tabs>li.active{

}

.nav-tabs-custom{
    background: transparent;
    margin-bottom: 0px;
    box-shadow: none; 
    border-radius: 0px;
}

.sidebar-menu .treeview-menu>li>a{

    font-size: 13px;
}

.Pointer{cursor: pointer;}
.pointer{cursor: pointer;}

/*-----------INVENTAIRE-------------------*/
#Inventaire{

    width: 169px;
    height: 327px;
    background: url('../../images/inventaire.png') no-repeat;
}

#Conteneur_Inventaire{

    position: relative;
    width: 160px;
    height: 288px;

    top: 32px;
    left:5px;
    overflow: hidden;

    font-size: 1px; 
    letter-spacing: -1px;
    word-spacing: -1px;

}

.Case_Inventaire{

    display: inline-table;
    height: 32px;
    width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px;
    border: none;
    color: white;
    vertical-align: bottom;

    font-size: 10px; 

}

.Interieur_Case{

    width: 32px;
    height: 32px;

}
.Bouton_Inventaire_1{

    position: absolute;
    top: 18px;
    left: 33px;
    height: 18px;
    width: 35px;
    border: 1px solid grey;
    background: url("../../images/Bouton_Inventaire.png") no-repeat;
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 18px;

}

.Bouton_Inventaire_2{

    position: absolute;
    top: 18px;
    left:72px;
    height: 18px;
    width: 35px;
    border: 1px solid grey;
    background: url("../../images/Bouton_Inventaire.png") no-repeat;
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 18px;
}

.Bouton_Inventaire_3{

    position: absolute;
    top: 18px;
    left:111px;
    height: 18px;
    width: 35px;
    border: 1px solid grey;
    background: url("../../images/Bouton_Inventaire.png") no-repeat;
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 18px;
}

.Bouton_Inventaire_4{

    position: absolute;
    top: 18px;
    left:150px;
    height: 18px;
    width: 35px;
    border: 1px solid grey;
    background: url("../../images/Bouton_Inventaire.png") no-repeat;
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 18px;
}



/*--------------------------ENTREPOT---------------------------*/
#Entrepot{
    width: 169px;
    height: 357px;
    background: url('../../images/entrepot.png') no-repeat;
    border-radius: 8px;
}

#Conteneur_Entrepot{

    position: relative;
    width: 160px;
    height: 288px;

    top: 30px;
    left:5px;
    overflow: hidden;

    font-size: 0px; 
    letter-spacing: 0px;
    word-spacing: -1px;

}

.Bouton_Entrepot_1{

    position: absolute;
    top: 339px;
    left: 33px;
    height: 18px;
    width: 50px;
    border: 1px solid grey;
    background: url("../../images/Bouton_Entrepot.png") no-repeat;
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 18px;

}

.Bouton_Entrepot_2{

    position: absolute;
    top: 339px;
    left: 85px;
    height: 18px;
    width: 50px;
    border: 1px solid grey;
    background: url("../../images/Bouton_Entrepot.png") no-repeat;
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 18px;

}

.Bouton_Entrepot_3{

    position: absolute;
    top: 339px;
    left: 137px;
    height: 18px;
    width: 50px;
    border: 1px solid grey;
    background: url("../../images/Bouton_Entrepot.png") no-repeat;
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 18px;

}

/* ----------------- Entrepot IS ------------------- */

#Entrepot_IS{

    width: 169px;
    height: 327px;
    background: url('../../images/entrepot_IS.png') no-repeat;
    border-radius: 8px;

}

#Conteneur_Entrepot_IS{

    position: relative;
    width: 160px;
    height: 288px;
    top: 31px;
    left: 5px;
    overflow: hidden;
    font-size: 1px;
    letter-spacing: -1px;
    word-spacing: 0px;

}

.Couleur_Level_Item{

    color:#EFF1EE;
    font-family: serif;
    font-size: 13px;
    text-shadow: 0px 2px 1px black;
}

.Zone_Tableau_Amis{

    max-height: 450px;
    overflow-y:auto;
}

/*-----------EQUIPEMENT-------------------*/
#Equipement{
    width: 160px;
    height: 192px;
    background: url('../../images/equipement.png') no-repeat;
    overflow: hidden;
}

.Case_Equipement{
    display: inline-table;
    height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px;
    border: none;
    color: white;
    font-size: 10px; 
}

.Case_Arme{position: absolute;top: 19px;left: 32px;}
.Case_Armure{position: absolute;top: 52px;left: 68px;}
.Case_Casque{position: absolute;top: 17px;left: 68px;}
.Case_Bouclier{position: absolute;top: 51px;left: 106px;}
.Case_Bracelet{position: absolute;top: 82px;left: 106px;}
.Case_Boucles{position: absolute;top: 67px;left: 144px;}
.Case_Collier{position: absolute;top: 100px;left: 145px;}
.Case_Chaussure{position: absolute;top: 159px;left: 69px;}
.Case_Fleche{position: absolute;top: 17px;left: 145px;}
.Case_Special1{position: absolute;top: 128px;left: 33px;}
.Case_Special2{position: absolute;top: 128px;left: 107px;}


.Icone_Chef_Guilde{

    position: absolute;
    z-index: 9999;
    width: 20px;
    height: 20px;
    left:348px;
    top:26px;
}

.cadrephotoclassement{
    border: 1px solid grey;
    position: relative;
}

table.dataTable thead .sorting:after {
    font-family: 'Roboto', 'Material Icons' !important;
    font-size: 20px;
    content: "\E8D5" !important;
}

.Images_Recherches{
    position: relative;
    height: 20px;
    background: #303030;
    border: 1px solid grey;
}

table.dataTable thead .sorting_desc:after {
    font-family: 'Roboto', 'Material Icons' !important;
    font-size: 20px;
    content: "\E316" !important;
}

table.dataTable thead .sorting_asc:after {
    font-family: 'Roboto', 'Material Icons' !important;
    font-size: 20px;
    content: "\E313" !important;
}

table.dataTable.table-condensed thead .sorting:after, table.dataTable.table-condensed thead .sorting_asc:after, table.dataTable.table-condensed thead .sorting_desc:after{
    top: 4px !important;
    right: 0px !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #242424;
}
.table-hover>tbody>tr:hover {
    background-color: #3F3F3F !important;
}

.dataTable{
    width:100% !important;
}

.table.dataTable>thead>tr>th{
    border-bottom: 1px solid #666666;
}

.table.dataTable>thead>tr:last-child>th{
        background: #383838;
}