<div id="starpass_{{ config.item_shop.rechargement.starpass.idd }}"></div>
<script type="text/javascript" src="https://script.starpass.fr/script.php?idd={{ config.item_shop.rechargement.starpass.idd }}&amp;verif_en_php=1&datas={{ idAccount }}"></script>