<link href="/css/css/Bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="/css/css/styles.css" rel="stylesheet" type="text/css" />

<style>
    html{
        background: none !important;
    }
    body{
        height: 400px !important;
        overflow: hidden !important;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default flat no-margin">

            <div class="box-header">
                <h3 class="box-title">Résultat du rechargement</h3>
            </div>

            <div class="box-body">
                Le code que vous avez saisie est non-valide.<br/><br/>
                Votre rechargement a été annulé, pensez à conserver ce code si vous souhaitez faire
                une réclamation auprès du support de VamosMT2.
            </div>
        </div>
    </div>
</div>