<script type="text/javascript" src="pages/Admin/js/ajaxMaps.min.js"></script>

<div class="box boxDataTable box-default flat">

    <div class="box-header">
        <h3 class="box-title">Recherche des cartes</h3>
    </div>

    <div class="box-body no-padding">

        <div class="col-lg-3 no-padding">
            <table class="table table-condensed" style="border-collapse: collapse;">
                <tr>
                    <td colspan="2">Shinsoo</td>
                </tr>
                <tr>
                    <td onclick="AjaxMaps('pages/Admin/ajax/ajaxRadarGet.php', 1);">
                        Map 1
                    </td>
                    <td onclick="AjaxMaps('pages/Admin/ajax/ajaxRadarGet.php', 3);">
                        Map 2
                    </td>
                </tr>
            </table>
            <table class="table table-condensed" style="border-collapse: collapse;">
                <tr>
                    <td colspan="2">Chunjo</td>
                </tr>
                <tr>
                    <td onclick="AjaxMaps('pages/Admin/ajax/ajaxRadarGet.php', 21);">
                        Map 1
                    </td>
                    <td onclick="AjaxMaps('pages/Admin/ajax/ajaxRadarGet.php', 23);">
                        Map 2
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-lg-9">
            <div id="Map_Apercu">

            </div>
        </div>

    </div>
</div>