<script type="text/javascript" src="pages/Admin/js/ajaxMaps.min.js"></script>

<div class="box boxDataTable box-default flat">

    <div class="box-header">
        <h3 class="box-title">Radar des cartes</h3>
        <div class="box-tools" id="boxToolMap" style="display: inline">
            <div id="actualisationMap" data-tooltip="Actualiser la carte" data-tooltip-position="left">
                <i class="material-icons md-icon-refresh md-22 pointer" onclick="AjaxMaps('pages/Admin/ajax/ajaxRadarGet.php', $('#selectMap').val());" style="padding-top: 4px;"></i>
            </div>
        </div>
    </div>

    <div class="box-body no-padding" style="padding-top: 15px !important;">

        <div class="col-lg-3" style="padding-bottom: 15px;">

            <div class="input-group col-xs-12" style="margin-bottom: 10px;">
                <select id="selectMap" class="select2" onchange="AjaxMaps('pages/Admin/ajax/ajaxRadarGet.php', this.value);">
                    <optgroup label="SHINSOO">
                        <option value="1">Yongan</option>
                        <option value="3">Jayang</option>
                    </optgroup>
                    <optgroup label="CHUNJO">
                        <option value="21">Joan</option>
                        <option value="23">Bokjung</option>
                    </optgroup>
                    <optgroup label="JINNO">
                        <option value="41">Pyungmoo</option>
                        <option value="43">Bakra</option>
                    </optgroup>
                    <option value="64">Vallée de Seungryong</option>
                    <option value="61">Mont Sohan</option>
                    <option value="63">Désert de Yongbi</option>
                    <option value="65">Temple de Hwang</option>
                    <option value="67">Bois enchanté</option>
                    <option value="68">Bois rouge</option>
                </select>
            </div>

            <span id="countOnMap"></span>

        </div>

        <div class="col-lg-9" style="padding-bottom: 15px;">
            <div id="Map_Apercu">

            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        AjaxMaps('pages/Admin/ajax/ajaxRadarGet.php', $('#selectMap').val());
    });
</script>