<div class="box boxDataTable box-default flat">

    <div class="box-header">
        <h3 class="box-title">Liste des compte bannis</h3>
    </div>

    <div class="box-body no-padding">

        <table class="table table-condensed table-hover table-striped" id="listRechercheBanned" style="border-collapse: collapse; margin-top: 0px !important;">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                        {% if rightRechercheIp %}
                        <th></th>
                        {% endif %}
                        {% if rightDebannissement %}
                        <th></th>
                        {% endif %}
                </tr>
                <tr>
                    <th>Compte</th>
                    <th>Joueurs</th>
                    <th>Raison</th>
                    <th>Durée</th>
                    <th>Empire</th>
                        {% if rightRechercheIp %}
                        <th>IP création</th>
                        {% endif %}
                        {% if rightDebannissement %}
                        <th>Action</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="100%" class="dataTables_empty">Tableau en cours de chargement...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" charset="utf-8">

    var aoColumns = [{{ dtColumns|raw }}];
    var aoColumnsFilter = [{{ dtFilterColumns|raw  }}];
    var sAjaxSource = '{{ ajaxSource }}';

    $('#listRechercheBanned').on('processing.dt', function (e, settings, processing) {
        processingDatatable(processing);
    });

    $(document).ready(function () {
        oTableRechercheBanned = $('#listRechercheBanned').dataTable({
            aaSorting: [[0, "asc"]],
            aoColumns: aoColumns,
            sDom: '<"clear"><"top">rt<lp><"clear">',
            sAjaxSource: sAjaxSource,
            aLengthMenu: [[10, 25, 50, 100], ["10", "25", "50", "100"]],
            iDisplayLength: 10,
            fnServerData: function (sSource, aoData, fnCallback) {
                $.getJSON(sSource, aoData, function (json) {
                    $("#datatable_total").html(json.iTotalRecords);
                    fnCallback(json);
                });
            }
        }).columnFilter({aoColumns: aoColumnsFilter});
    });
    
    function SuppressionBannissement(idAccount) {

        bootbox.dialog({
            message: "Confirmez-vous la levé de ce bannissement ?<br/><br/>Le joueur sera avertit par e-mail que son compte est de nouveau accessible.",
            animate: false,
            className: "myBootBox",
            title: 'Confirmation de la demande',
            buttons: {
                danger: {
                    label: "Annuler",
                    className: "btn-danger",
                    callback: function () {

                    }
                },
                success: {
                    label: "Confirmer",
                    className: "btn-primary",
                    callback: function () {

                        displayLoading();

                        $.ajax({
                            type: "POST",
                            url: "pages/Admin/ajax/ajaxBannissementDelete.php",
                            data: {"idAccount": idAccount},
                            success: function (msg) {

                                hideLoading();

                                var json = JSON.parse(msg);

                                if (json.result) {

                                } else {
                                    popBootbox(json.reasons);
                                }

                                parent.oTableRechercheBanned.fnStandingRedraw();
                            }

                        });
                    }
                }
            }
        });
    }
</script>