<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Paramètres du site</h3>
    </div>

    <div class="box-body">
        <a onclick="Ajax('pages/Admin/modules/Parametres/ParametresPersonnalisation.php');">
            <div class="confItem">
                <i class="material-icons md-icon-paint md-48 text-gray"></i>
                <span>Personalisation</span>
            </div>
        </a>
    </div>
</div>