<div class = "box box-default flat">

    <div class = "box-header">
        <h3 class = "box-title">Code d'entrepôt crée</h3>
    </div>

    <div class="box-body">
        Votre code d'entrepot a bien été définie.<br/><br/>
        Pensez à le garder précieusement.
    </div>

    <div class = "box-footer">
        <input type = "button" class = "btn btn-primary btn-flat" value = "Accueil" onclick = "Ajax('pages/_LegacyPages/News.php');" />
    </div>
</div>