<div id="Entrepot" style="margin-top: 10px;">
    <div style="position: relative;">

        <img id="imageEntrepot" src="../../images/inventaire.svg" style="width:100%; height:auto;  border: 1px solid #6b645b;"/>

        <script type="text/javascript">

            function Page_Entrepot(page) {

                displayLoading();

                $.ajax({
                    type: "POST",
                    url: "pages/MonCompte/ajax/ajaxEntrepotPage.php",
                    data: {"id":{{ objAccount.getId }}, "page": page},
                    success: function (msg) {

                        hideLoading();
                        $("#Conteneur_Entrepot").html(msg);
                        redrawCaseEntrepot();
                        redraw();
                    }
                });
            }

            function redrawCaseEntrepot() {

                var widthInventaire = ($("#imageEntrepot").css("width"));
                var heightInventaire = ($("#imageEntrepot").css("height"));

                $("#Conteneur_Entrepot").css("width", widthInventaire);
                $("#Conteneur_Entrepot").css("height", heightInventaire);

                $(".Case_Inventaire").css("height", (100 / 9) + "%");
            }

            $(window).resize(function () {
                redrawCaseEntrepot();
            });


            $("#imageEntrepot").load(function () {
                redrawCaseEntrepot();
            });

            $("#imageEntrepot").ready(function () {
                redrawCaseEntrepot();
            });

        </script>

        <div id="Conteneur_Entrepot">
            {{ viewEntrepotPage1|raw }}
        </div>
    </div>
</div>
<div style="margin-top: 4px; margin-bottom: 15px; padding-bottom: 15px;">
    <div style="float: left;" class="Bouton_Entrepot Pointer" onclick="Page_Entrepot(1);"> I </div>
    <div style="float: left; margin-left: 5%;" class="Bouton_Entrepot Pointer" onclick="Page_Entrepot(2);"> II </div>
    <div style="float: right;" class="Bouton_Entrepot Pointer" onclick="Page_Entrepot(3);"> III </div>
</div>