<div class="col-md-7 col-sm-7 col-xs-7">

    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-5" style="padding-left: 40px;">
            Bienvenue <span onclick="Ajax('pages/MonCompte/modules/HistoryConnexion.php')" data-tooltip="Historique des connexions" class="Bold Pointer">{{ session.get("Utilisateur") }}</span>
        </div>

        <div style="position: relative; left:-4px; top: -1px;"  class="col-lg-5 col-md-6 col-sm-6">
            <span data-tooltip="VamoNaies">
                <img class="inline" src="images/rectopiece.png" height="35"/>
                <div class="inline" id="Nombre_De_Vamonaies">{{ session.get("VamoNaies") }} </div>
            </span>

            <span data-tooltip="TanaNaies">
                <img class="inline" src="images/versopiece.png" height="35"/>
                <div class="inline" id="Nombre_De_Tananaies">{{ session.get("TanaNaies") }}</div>
            </span>
        </div>
    </div>
</div>

<div class="" style="margin-right: 10px;">

    <div class="pull-right">

        <span class="iconStatutServer visible-xs-inline visible-sm-inline" style="top: 7px; position: relative; margin-left: 7px;"></span>

        <span id='Messagerie_Notification'><i data-tooltip="Aucun nouveau message" data-tooltip-position="left" style="cursor:pointer; top: 7px; position: relative; margin-left: 7px;" class="material-icons md-icon-spin fa fa-spin md-24" title=""></i></span>

        <i data-tooltip="Activer/Désactiver le son" data-tooltip-position='left' style="top: 7px; position: relative; margin-left: 7px;" id="Icone_Sons" class="" onclick="SoundNotificationToggle(0)"></i>
        <script type="text/javascript">
            SoundNotificationToggle(1);
            setTimeout("Actualisation_Messages()", 20000);
        </script>


        <a data-tooltip="Déconnexion" data-tooltip-position='left' class="pull-right" style="cursor: pointer; margin-left: 7px;" onclick="Ajax_Connexion('pages/_Home/includes/headbarDisconnect.php')">
            <i style="top: 7px; position: relative;" class="material-icons md-icon-power md-24 text-red"></i>
        </a>
    </div>
</div>