<div class="box box-default flat" style="margin: 0px;">
    <div class="box-header">
        <h3 class="box-title">Création de ticket</h3>
    </div>
    {% if nombreDiscussionOuverte >= config.support.max_open %}
        <div class="box-body">
            Il semble que possédiez trop de ticket en attente ou en cours de traitement.
            <br/>
            Veuillez modérer le nombre de vos tickets.
            <br/><br/>
            Cordialement, l'équipe VamosMt2.
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <input type="button" class="btn btn-danger btn-flat" onclick="$.featherlight.close();" value="Fermer" />
            </div>
        </div>
    {% else %}
        <div class="box-body no-padding">
            <div class="row" style="padding-left: 15px; margin-right: 0;">

                <input id="Input_Id_Expediteur_Message" style="display: none;" type="text" value="{{ objAccount.getId }}">

                <div class="col-lg-12" style="margin-top: 15px; margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group ">
                                <label for="Input_Pseudo_Expediteur_Message">
                                    Demandeur
                                </label>
                                <div class="input-group col-xs-12">
                                    <input class="form-control input-sm" id="Input_Pseudo_Expediteur_Message" name="Input_Expediteur_Message" type="text" disabled="disabled" value="{{ session.get("Utilisateur") }}">                           
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <label for="discussionObjet">
                                Objet
                            </label>
                            <div class="input-group col-xs-12">
                                <select class="select2" id="discussionObjet" name="discussionObjet">
                                    <option selected="selected" value="0"> -- </option>
                                    {% for id, libelle in arrSupportObjets %}
                                        <option value="{{ id }}">{{ libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group ">
                                <label for="discussionMessage">
                                    Message
                                </label>
                                <div class="input-group col-xs-12">
                                    <textarea maxlength="1024" style="min-height: 170px; resize: none;" id="discussionMessage" class="form-control input-sm" onkeyup="document.getElementById('discussionMessageLenght').innerHTML = (this.value.length + this.value.replace(/[^\n]+/g, '').length);"></textarea>
                                    <span id="discussionMessageLenght">0</span>/1024
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success btn-flat pull-right" type="button" onclick="validateFormDiscussionCreate();">
                Envoyer
            </button>
        </div>
        <script type="text/javascript">

            redrawSelect2();

            function validateFormDiscussionCreate() {

                if (parseInt($("#discussionMessageLenght").html()) < 50) {
                    popBootbox("Le message est trop court.");
                    return false;
                }

                if ($("#discussionObjet").val() == 0) {
                    popBootbox("Veuillez séléctionner un objet pour votre demande.");
                    return false;
                }

                Pace.track(function () {

                    displayLoadingFeatherLightBox();

                    $.ajax({
                        type: "POST",
                        url: "pages/Messagerie/ajax/ajaxDiscussionCreate.php",
                        data: {
                            "discussionObjet": $("#discussionObjet").val(),
                            "discussionMessage": $("#discussionMessage").val()
                        },
                        success: function (msg) {

                            var json = JSON.parse(msg);
                            hideLoadingFeatherLightBox();

                            if (json.result) {
                                Barre_De_Statut("Ticket envoyé avec succès.");
                                Icone_Chargement(0);

                                $.featherlight.close();
                                toastr.success("Votre ticket a été soumis à nos équipes.<br/>Nous traiterons votre demande dans les plus brefs délais.");
                            }
                        }
                    });
                });
            }
        </script>                    
    {% endif %}
</div>