<table class="table table-condensed table-hover table-striped" id="listMessagerieInbox" style="border-collapse: collapse; margin-top: 0px !important;">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            {% if isAdmin %} 
                <th>Utilisateur</th>
                {% else %}
                <th>Gérer par</th>
                {% endif %}
            <th>Objet</th>
            <th>Date</th>
            <th>Dernier</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="100%" class="dataTables_empty">Tableau en cours de chargement...</td>
        </tr>
    </tbody>
</table>
            
<script type="text/javascript" charset="utf-8">

    var aoColumns = [{{ dtColumns|raw }}];
    var aoColumnsFilter = [{{ dtFilterColumns|raw  }}];
    var sAjaxSource = '{{ ajaxSource }}';

    $('#listMessagerieInbox').on('processing.dt', function (e, settings, processing) {
        processingDatatableInBox(processing);
    });

    $(document).ready(function () {
        oTable = $('#listMessagerieInbox').dataTable({
            aaSorting: [[3, "desc"]],
            aoColumns: aoColumns,
            responsive: true,
            sDom: '<"clear"><"top">rt<lp><"clear">',
            sAjaxSource: sAjaxSource,
            aLengthMenu: [[10, 25, 50, 100], ["10", "25", "50", "100"]],
            iDisplayLength: 10,
            fnServerData: function (sSource, aoData, fnCallback) {
                $.getJSON(sSource, aoData, function (json) {
                    $("#datatable_total").html(json.iTotalRecords);
                    fnCallback(json);
                });
            },
            fnRowCallback: function (nRow, aData, iDisplayIndex) {
                $(nRow).addClass(aData['nonLuInDiscussion']);
                return nRow;
            }
        }).columnFilter({aoColumns: aoColumnsFilter});
    });
</script>