<script type="text/javascript" src="pages/Messagerie/js/fonctions.min.js"></script>

<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Support</h3>
        <div class="box-tools">
            {% if isModerateurTicket == false %}
                <a href="pages/Messagerie/MessagerieCreate.php" data-featherlight="ajax" class="btn btn-flat btn-success btn-sm" >Nouveau ticket</a>
            {% endif %}
        </div>
    </div>

    <div class="box-body no-padding">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">

                <li class="active"><a href="javascript:void(0)" onclick="Ajax_Appel_Messagerie('pages/Messagerie/MessagerieInbox.php', this);">En cours</a></li>
                <li><a href="javascript:void(0)" onclick="Ajax_Appel_Messagerie('pages/Messagerie/MessagerieArchive.php', this);">Archivés</a></li>

                {% if isModerateurTicket %}
                    <li><a href="javascript:void(0)" onclick="Ajax_Appel_Messagerie('pages/Messagerie/MessagerieWaiting.php', this);">Tickets en attentes</a></li>
                    {% endif %}
            </ul>

            <div id="Contenue_Cadre_Messagerie">
                {{ viewInbox|raw }}
            </div>

        </div>

        <div class="clear"></div>
    </div>
</div>