<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Votre compte est activé</h3>
    </div>

    <div class="box-body">
        Félicitation, votre compte est désormais actif.
        <br /><br />
        Vous pouvez désormais vous connecter au jeu et au site.
        <br />
        <br />
        Toute l'équipe VamosMT2 vous souhaite un bon jeu !

    </div>
</div>