<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Votre compte n'est pas activé</h3>
    </div>

    <div class="box-body">
        Tant que vous n'avez terminé le processus complet d'inscription, vous ne pouvez pas utiliser les fonctionnalités du site.
        <br/>
        <br/>
        Vérifiez vos e-mails et votre boite de courriers indésirable.

    </div>
</div>