<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Fonctionnalité désactivé</h3>
    </div>

    <div class="box-body">
        L'accés à cette fonctionnalité a été désactivé.
    </div>
</div>