{% if arrObjActualites|length > 0 %}

    {% for objActualite in arrObjActualites %}

        <div class="box box-default flat">

            <div class="box-header">
                <h3 class="box-title">{{ objActualite.titre }}</h3>

                <div class="box-tools" style="padding-top: 5px;">
                    <i data-tooltip-position="left" data-tooltip="{{ getFormatedDateTime(objActualite.date) }}" class="material-icons md-icon-event md-20"></i>
                </div>
            </div>

            <div class="box-body">

                {{ objActualite.contenu|raw }}

                <div style="position: absolute; bottom: 2px; right: 6px; color: grey;">
                    <small>Publié par {{ objActualite.pseudoMessagerie }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}