<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Paiement validé</h3>
    </div>

    <div class="box-body">
        
        Merci !
        <br />
        <br />
        Vous receverez vos {{ helpDevise(1) }} sous 24 heures.
        
    </div>
</div>