<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Conseils de sécurité</h3>
    </div>

    <div class="box-body">
        Il existe pleins de type d'arnaques, vols et autres, soyez très prudent, l'équipe ne peut rien faire contre ceci une fois que c'est arrivé, cette prévention a donc pour but de vous protéger contre les hacks.
        <br />
        <br />
        <br />
        1) Les arnaques de bases:<br />
        Il existe plusieurs arnaque basiques, à commencer par le fameux <i><u>Prête ton arme je t'améliore les bonus</u></i> ou encore <i><u>Donne ton stuff je suis le frère à Vamos je te bann sinon</u></i>, ne donnez jamais vos objets, ils vous voleront, l'équipe n'aura jamais besoins de votre stuff ou votre mot de passe et ne vous bannira jamais si vous refusez de le donner.
        <br /><br />
        2) Protéger son compte:<br />
        Soyez très prudent sur la sécurité de votre compte, il est important de définir un mot de passe sécurisé, dates de naissances, nom ou prénom est fortement déconseillé, pensez à le changer régulièrement et en mettre un distinct avec votre email.
        <br /><br />
        3) Protéger son ordinateur:<br />
        Il existe également le hack par virus, il est donc recommandé d'afficher les extensions des fichiers etc. car une vidéo ou photo peut cacher un virus (.jpg.exe), il est donc recommandé d'avoir un anti virus (Avast par exmeple) ainsi que MBAM.
        <br /><br />
        4) Les échanges:<br />
        Les échanges de comptes sont fortement déconseillés, il existe un système de marché pour ce qui concercne VamosMT2 pour éviter tout problème de vols etc.<br />
        Notez également qu'un échange sur le jeu dois se faire des deux côtés, c'est à dire mettre les deux les objets en même temps et pas "Tu me donne et je te donne ensuite".
        <br /><br />
        5) Ne jamais prêter son compte<br />
        Il peut s'agir d'un(e) ami(e), de votre conjoint(e), soyez malgré tout prudent et évitez de prêter vos objets et comptes.
        <br /><br /><br />
        N'hésitez pas à nous MP sur le jeu ou ailleur avant de faire une action qui peut mettre en danger votre personnage, nous sommes là pour vous.
    </div>
</div>