<script type="text/javascript" src="assets/js/tinymce/tinymce.min.js"></script>

<div class="box boxDataTable box-default flat">

    <div class="box-header">
        <h3 class="box-title">Équipe dans le jeu</h3>
        <div class="box-tools" style="right: 5px;">
            <a data-featherlight="ajax" href="pages/Admin/modules/GererEquipeJeu/GererEquipeJeuEdit.php?mode=create">
                <button type="button" class="btn btn-sm btn-success btn-flat" >
                    Ajouter
                </button>
            </a>
        </div>
    </div>

    <div class="box-body no-padding">

        <table class="table table-condensed table-hover table-striped" id="listGererEquipeJeu" style="border-collapse: collapse; margin-top: 0px !important;">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Joueur</th>
                    <th>Compte</th>
                    <th>Autorité</th>
                    <th>Temps de jeu</th>
                    <th>Dernière connexion</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="100%" class="dataTables_empty">Tableau en cours de chargement...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" charset="utf-8">

    var aoColumns = [{{ dtColumns|raw }}];
    var aoColumnsFilter = [{{ dtFilterColumns|raw  }}];
    var sAjaxSource = '{{ ajaxSource }}';

    $('#listGererEquipeJeu').on('processing.dt', function (e, settings, processing) {
        processingDatatable(processing);
    });

    $(document).ready(function () {
        oTable = $('#listGererEquipeJeu').dataTable({
            aaSorting: [[0, "desc"]],
            aoColumns: aoColumns,
            responsive: true,
            sDom: '<"clear"><"top">rt<lp><"clear">',
            sAjaxSource: sAjaxSource,
            aLengthMenu: [[10, 25, 50, 100], ["10", "25", "50", "100"]],
            iDisplayLength: 10,
            fnServerData: function (sSource, aoData, fnCallback) {
                $.getJSON(sSource, aoData, function (json) {
                    $("#datatable_total").html(json.iTotalRecords);
                    fnCallback(json);
                });
            }
        }).columnFilter({aoColumns: aoColumnsFilter});
    });
    
    function SuppressionMembreEquipe(idMember) {

        bootbox.dialog({
            message: "Confirmez-vous la suppression de ce membre de l'équipe du jeu ?",
            animate: false,
            className: "myBootBox",
            title: 'Confirmation de la demande',
            buttons: {
                danger: {
                    label: "Annuler",
                    className: "btn-danger",
                    callback: function () {

                    }
                },
                success: {
                    label: "Confirmer",
                    className: "btn-primary",
                    callback: function () {

                        displayLoading();

                        $.ajax({
                            type: "POST",
                            url: "pages/Admin/modules/GererEquipeJeu/ajax/ajaxGererEquipeJeuDelete.php",
                            data: {"memberId": idMember},
                            success: function (msg) {

                                hideLoading();

                                var json = JSON.parse(msg);

                                if (json.result) {

                                } else {
                                    popBootbox(json.reasons);
                                }

                                parent.oTable.fnStandingRedraw();
                            }

                        });
                    }
                }
            }
        });
    }
</script>