<div class="box box-default flat" style="margin: 0px;">
    <div class="box-header">
        <h3 class="box-title">Mise en vente</h3>
    </div>

    <div class="box-body no-padding">
        <form id="Formulaire_Vente_Personnage">

            <div class="row" style="padding-left: 15px; margin-right: 0; padding-top: 10px;">
                <div class="col-lg-12">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group ">
                                <label for="SalePlayerTitre">
                                    Titre
                                </label>
                                <div class="input-group col-xs-12">
                                    <input type="text" id="SalePlayerTitre" class="form-control input-sm"  maxlength="43" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="form-group ">
                                <label for="Input_Vendre_Personnage_Personnage">
                                    Personnage
                                </label>
                                <div class="input-group col-xs-12">
                                    <input type="text" id="Input_Vendre_Personnage_Personnage" class="form-control input-sm" maxlength="60" value="{{ objPlayer.getName }}" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group ">
                        <label for="SalePlayerPrice">
                            Prix
                        </label>
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control input-sm" id="SalePlayerPrice" /> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group ">
                        <label for="SalePlayerDevise">
                            Devise
                        </label>
                        <div class="input-group col-xs-12">

                            <select id="SalePlayerDevise" class="select2">
                                {% if arrDevises|length > 0 %}
                                    {% for id, devise in arrDevises %}
                                        <option value="{{ id }}">{{ devise }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>         
            <div class="row" style="padding-left: 15px; margin-right: 0;">
                <div class="col-lg-12">
                    <div class="form-group ">
                        <label for="SalePlayerDescription">
                            Description
                        </label>
                        <div class="input-group col-xs-12">
                            <textarea id="SalePlayerDescription" class="form-control input-sm" style="min-height: 100px; resize: none;" maxlength="140" /></textarea>
                        </div>
                    </div>         
                </div>   
            </div>   

            <script type="text/javascript">

                redrawSelect2();

                function Mettre_En_Vente() {

                    if ($("#Prix_Vente_Personnage").val() < 2000) {
                        popBootbox("Le prix minimum est de 2 000 monnaies.");
                    } else {

                        Barre_De_Statut("Mise en vente...");
                        Icone_Chargement(1);
                        displayLoadingFeatherLightBox();

                        $.ajax({
                            type: "POST",
                            url: "pages/Marche/ajax/ajaxSaleAdd.php",
                            data: {
                                "id_personnage": '{{ encrypt(objPlayer.getId) }}',
                                "texte_titre": $("#SalePlayerTitre").val(),
                                "texte_description": $("#SalePlayerDescription").val(),
                                "prix": $("#SalePlayerPrice").val(),
                                "id_devise": $("#SalePlayerDevise").val()},
                            success: function (msg) {

                                hideLoadingFeatherLightBox();
                                var json = JSON.parse(msg);

                                if (json.result) {

                                    $.featherlight.close();
                                    Ajax_Appel_Marche('pages/Marche/MarcheMySales.php');

                                } else {

                                    popBootbox(json.reasons);
                                    Barre_De_Statut(json.reasons);
                                    Icone_Chargement(2);
                                }

                            }
                        });
                    }
                }

            </script>
        </form>
    </div>
    <div class="box-footer">
        <div class="pull-left">
            <input type="button" class="btn btn-danger btn-flat" onclick="$.featherlight.close();" value="Fermer" />
        </div>
        <div class="pull-right">
            <button type="button" class="pull-right btn btn-success btn-flat" onclick="Mettre_En_Vente()">
                Mettre en vente    
            </button>
        </div>
    </div>
</div>