<div id="Div_Marche_Articles" class="Div_Marche_Articles">
    <div id="Tableau_Liste_Article" style="padding: 10px; max-height: 500px; overflow-y: auto;">
            {{ viewArticles|raw }}
    </div>
</div>