<div id="Inventaire">

    <div style="height: 20px; width: 100%; text-align: center;">
        <div class="Bouton_Inventaire_1 Pointer" data-tooltip="Page 1" data-tooltip-position="top" onclick="Page_Inventaire(1);"> I </div>
        <div class="Bouton_Inventaire_2 Pointer" data-tooltip="Page 2" data-tooltip-position="top" onclick="Page_Inventaire(2);"> II </div>
        <div class="Bouton_Inventaire_3 Pointer" data-tooltip="Page 3" data-tooltip-position="top" onclick="Page_Inventaire(3);"> III </div>
        <div class="Bouton_Inventaire_4 Pointer" data-tooltip="Page 4" data-tooltip-position="top" onclick="Page_Inventaire(4);"> IV </div>
    </div>

    <div class="clear"></div>
    
    <div style="position: relative;">
        <img id="imageInventaire" style="width:100%; height:auto;" src="../../images/inventaire.png" />

        <script type="text/javascript">

            function Page_Inventaire(page) {

                displayLoading();
                $.ajax({
                    type: "POST",
                    url: "pages/MonPersonnage/ajax/ajaxInventairePage.php",
                    data: {"id":{{ idPlayer }}, "page": page},
                    success: function (msg) {

                        hideLoading();
                        $("#Conteneur_Inventaire").html(msg);
                        redrawCaseInventaire();
                        redraw();
                    }
                });
            }

            function redrawCaseInventaire() {

                var widthInventaire = ($("#imageInventaire").prop("width"));
                var heightInventaire = ($("#imageInventaire").prop("height"));

                $("#Conteneur_Inventaire").css("width", widthInventaire);
                $("#Conteneur_Inventaire").css("height", heightInventaire);

                $(".Case_Inventaire").css("height", (100 / 9) + "%");
            }

            $("#imageInventaire").load(function () {
                redrawCaseInventaire();
            });

            $(window).resize(function () {
                redrawCaseInventaire();
            });

        </script>


        <div id="Conteneur_Inventaire">
            {{ viewInventairePage1|raw }}
        </div>
    </div>

</div>
