<div id="Inventaire" style="margin-top: 10px;">

    <div style="height: 20px; margin-bottom: 2px; width: 100%; /* text-align: center; */">
        <div style="float: left;" class="Bouton_Inventaire_1 Pointer" onclick="Page_Inventaire(1);"> I </div>
        <div style="float: left; margin-left: 4%;" class="Bouton_Inventaire_2 Pointer" onclick="Page_Inventaire(2);"> II </div>
        <div style="float: right; margin-left: 4%;" class="Bouton_Inventaire_4 Pointer" onclick="Page_Inventaire(4);"> IV </div>
        <div style="float: right;" class="Bouton_Inventaire_3 Pointer" onclick="Page_Inventaire(3);"> III </div>
    </div>

    <div class="clear"></div>

    <div style="position: relative;">

        <img id="imageInventaire" src="../../images/inventaire.svg" style="width:100%; height:auto;  border: 1px solid #6b645b;"/>

        <script type="text/javascript">

            function Page_Inventaire(page) {

                displayLoading();
                $.ajax({
                    type: "POST",
                    url: "pages/MonPersonnage/ajax/ajaxInventairePage.php",
                    data: {"id":{{ idPlayer }}, "page": page},
                    success: function (msg) {

                        hideLoading();
                        $("#Conteneur_Inventaire").html(msg);
                        redrawCaseInventaire();
                        redraw();
                    }
                });
            }

            function redrawCaseInventaire() {

                var widthInventaire = ($("#imageInventaire").css("width"));
                var heightInventaire = ($("#imageInventaire").css("height"));

                $("#Conteneur_Inventaire").css("width", widthInventaire);
                $("#Conteneur_Inventaire").css("height", heightInventaire);

                $(".Case_Inventaire").css("height", (100 / 9) + "%");
            }

            $(window).resize(function () {
                redrawCaseInventaire();
            });

            $("#imageInventaire").load(function () {
                redrawCaseInventaire();
            });
            
            $("#imageInventaire").ready(function () {
                redrawCaseInventaire();
            });

        </script>


        <div id="Conteneur_Inventaire">
            {{ viewInventairePage1|raw }}
        </div>
    </div>

</div>
