<script type="text/javascript" src="assets/js/chartjs/Chart.min.js"></script>
<script type="text/javascript" src="pages/Statistiques/js/fonctions.min.js"></script>

<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Statistiques</h3>
    </div>

    <div class="box-body no-padding">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">

                <li class="active"><a href="javascript:void(0)" onclick="Ajax_Appel_Statistiques(1, this);">Statistiques du jour</a></li>
                <li><a href="javascript:void(0)" onclick="Ajax_Appel_Statistiques(2, this);">Statistiques de la semaine</a></li>
                <li><a href="javascript:void(0)" onclick="Ajax_Appel_Statistiques(3, this);">Statistiques du mois</a></li>
                <li><a href="javascript:void(0)" onclick="Ajax_Appel_Statistiques(4, this);">Statistiques complètes</a></li>
            </ul>

            <div>
                <div class="row">
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table table-condensed table-hover" style="border-collapse: collapse;">
                                    <tr>
                                        <th style="border-top: 0px;" colspan="2">Nouveau</th>
                                    </tr>
                                    <tr data-tooltip="Les nouveaux comptes crées">
                                        <td style="line-height: 10px;" class="Colonne_Tableau_Gauche">
                                            <i class="material-icons md-icon-account-box"></i>
                                            <span style="vertical-align: super;">Comptes</span>
                                        </td>
                                        <td style="line-height: 10px; text-align: right; vertical-align: middle;" id="Contenue_Comptes"></td>
                                    </tr>
                                    <tr data-tooltip="Les premières connections de joueurs">
                                        <td>
                                            <i class="material-icons md-icon-person"></i>
                                            <span style="vertical-align: super;">Joueurs</span>
                                        </td>
                                        <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Joueurs"></td>
                                    </tr>
                                </table>

                                <table class="table table-condensed table-hover" style="border-collapse: collapse;">
                                    <tr data-tooltip="Le nombre de personnages masculins">
                                        <td  style="line-height: 10px;" >
                                            <i class="material-icons md-icon-person text-blue"></i>
                                            <span style="vertical-align: super;">Hommes</span>
                                        </td>
                                        <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Hommes"></td>
                                    </tr>
                                    <tr data-tooltip="Le nombre de personnages féminins">
                                        <td style="line-height: 10px;" >
                                            <i class="material-icons md-icon-person text-fuchsia"></i>
                                            <span style="vertical-align: super;">Femmes</span>
                                        </td>
                                        <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Femmes"></td>
                                    </tr>
                                </table>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">
                                            <div id="myChartRoyaumeLegend" style="position: absolute;"></div>
                                            <canvas id="myChartRoyaume" style="margin-left: 30px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 15px;">
                                    <div class="col-lg-12">
                                        <div class="clear"></div>
                                        <div class="col-lg-12">
                                            <div id="myChartJobLegend" style="position: absolute;"></div>
                                            <canvas id="myChartJob" style="margin-left: 30px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <div class="col-lg-6">

                                    <table class="table table-condensed table-hover" style="border-collapse: collapse;">
                                        <tr>
                                            <th style="border-top: 0px;" colspan="2">Site web :</th>
                                        </tr>
                                        <tr data-tooltip="Le nombre de connexions réussi au site">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-power text-green"></i>
                                                <span style="vertical-align: super;">Connexions au site</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Connexion_Site"></td>
                                        </tr>
                                        <tr data-tooltip="Le nombre de connexions d'utilisateurs">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-power text-purple"></i>
                                                <span style="vertical-align: super;">Connexions uniques</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Connexion_Site_Unique"></td>
                                        </tr>
                                        <tr data-tooltip="Le nombre de changements d'email">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-mail text-yellow"></i>
                                                <span style="vertical-align: super;">Changements d'e-mail</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Changement_Mail"></td>
                                        </tr>
                                        <tr data-tooltip="Le nombre de récupération de mots de passe">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-settings_backup_restore text-blue"></i>
                                                <span style="vertical-align: super;">Récuperation de mots de passe</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Recup_MDP"></td>
                                        </tr>
                                        <tr data-tooltip="Le nombre de changements de mot de passe">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-lock text-yellow"></i>
                                                <span style="vertical-align: super;">Changements de mot de passe</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Changement_MDP"></td>
                                        </tr>
                                        <tr data-tooltip="Le nombre de changement de mot de passe entrepôt">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-lock text-yellow"></i>
                                                <span style="vertical-align: super;">Changements codes entrepôts</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Changement_Code_Entrepot"></td>
                                        </tr>
                                        <tr data-tooltip="Nombre de deblocage de Yangs">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-settings_backup_restore text-blue"></i>
                                                <span style="vertical-align: super;">Déblocages des Yangs</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Deblocage_Yangs"></td>
                                        </tr>
                                        <tr data-tooltip="Nombre de vote pour le serveur">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-poll text-olive"></i>
                                                <span style="vertical-align: super;">Nombre de votes</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Nombre_Vote"></td>
                                        </tr>
                                        <tr data-tooltip="Nombre d'achats de personnage">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-shopping_cart text-olive"></i>
                                                <span style="vertical-align: super;">Achat de personnage</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Nombre_Achat_Perso"></td>
                                        </tr>
                                    </table>

                                    <table class="table table-condensed table-hover" style="border-collapse: collapse;">
                                        <tr data-tooltip="Nombre de tickets ouverts">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-forum text-green"></i>
                                                <span style="vertical-align: super;">Tickets ouverts</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Tickets_Ouverts"></td>
                                        </tr>
                                        <tr data-tooltip="Nombre de messages écrits">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-chat_bubble text-blue"></i>
                                                <span style="vertical-align: super;">Messages écrits</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Messages_Ecrits"></td>
                                        </tr>
                                        <tr data-tooltip="Nombre de discussions archivés">
                                            <td style="line-height: 10px;" >
                                                <i class="material-icons md-icon-chat_bubble_outline text-gray"></i>
                                                <span style="vertical-align: super;">Discussions archivées</span>
                                            </td>
                                            <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Discussions_Archives"></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">

                            <table class="table table-condensed table-hover" style="border-collapse: collapse;">
                                <tr>
                                    <th style="border-top: 0px;" colspan="2">Provenances :</th>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/fr.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">France</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_FR"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/be.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Belgique</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_BE"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/ch.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Suisse</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_CH"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/gb.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Angleterre</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_GB"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/de.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Allemagne</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_DE"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/ro.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Roumanie</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_RO"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/us.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">USA</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_US"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/it.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Italie</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_IT"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/es.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Espagne</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_ES"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/pl.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Pologne</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_PL"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/pt.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Portugal</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_PT"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/tn.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Tunisie</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_TN"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/dz.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Algérie</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_DZ"></td>
                                </tr>
                                <tr>
                                    <td style="line-height: 10px;" >
                                        <img class="Icone_Drapeaux" src="../../images/drapeaux/jp.png" height="14"/>&nbsp;
                                        <span style="vertical-align: super;">Japon</span>
                                    </td>
                                    <td style="line-height: 10px; text-align: right; vertical-align: middle;"  id="Contenue_Pays_JP"></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <script type="text/javascript">
            Ajax_Appel_Statistiques(1, false);
            var data = [];
            var ctxRoyaume = jQuery("#myChartRoyaume").get(0).getContext("2d");
            var ctxJob = jQuery("#myChartJob").get(0).getContext("2d");

        </script>
    </div>