<p>
    Bonjour {{ compte }}
    <br/>
    <br/>
    Le bannissement de votre compte a été levé.
    <br/>
    <br/>
    Pour toute réclamation, veuillez vous adressez à l'équipe via le formulaire sur le site.
    <br/>
    <br/>
    Cordialement, Vamosmt2.
</p>