<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Code d'entrepôt renvoyé</h3>
    </div>

    <div class="box-body">
        Vous avez reçu un e-mail contenant le code de votre entrepôt.
    </div>
    
    <div class="box-footer">
        <input type="button" class="btn btn-primary btn-flat" value="Accueil" onclick="Ajax('pages/_LegacyPages/News.php');" />
    </div>
</div>