<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Envoie du mail</h3>
    </div>

    <div class="box-body">

        Un mail vient de vous être envoyé, merci de noter, ci-après, le code unique.
        <br/>
        <br/>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group" style="margin-bottom: 0px;">
                    <label for="Code_Confidentiel">
                        Code confidentiel
                    </label>

                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control input-sm text" id="Code_Confidentiel" placeholder="Code confidentiel" name="Code_Confidentiel">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <div class="pull-right">
            <input class="btn btn-success btn-flat" type="button" onclick="Verification_Code_Confidentiel();" value="Vérifier" />
        </div>
    </div>
</div>


<script type="text/javascript">

    function Verification_Code_Confidentiel() {

        Barre_De_Statut("Vérification du code...");
        Icone_Chargement(1);

        $.ajax({
            type: "POST",
            url: "pages/MonCompte/ajax/ajaxEmailChangeVerify.php",
            data: "code=" + $("#Code_Confidentiel").val(),
            success: function (msg) {

                if (msg == 1) {

                    Ajax("pages/MonCompte/EmailChangeSubmitEmail.php");
                }
                else {

                    Barre_De_Statut("Le code de vérification est incorrect.");
                    Icone_Chargement(2);
                }
            }
        });
        return false;
    }

</script>