<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Mot de passe réinitialisé</h3>

    </div>

    <div class="box-body">

        Un nouveau mot de passe viens d'être généré aléatoirement et viens de vous<br/>
        être envoyé par e-mail à l'adresse associée à votre compte.<br/><br/>

        Pour revenir à l'accueil, merci de cliquer sur le bouton "Accueil".<br/>
    </div>

    <div class="box-footer">
        <input type="button" class="btn btn-primary btn-flat" value="Accueil" onclick="Ajax('pages/_LegacyPages/News.php');" />
    </div>
</div>