<p>
    Bonjour {{ compte }}
    <br/>
    <br/>
    Votre nouvelle adresse e-mail {{ new }} est à présent effective.
    <br/>
    Vous ne recevrez plus de mail sur {{ old }}
    <br/>
    <br/>
    Cordialement, Vamosmt2.
</p>