<p>
    Bonjour {{ account }}
    <br/>
    <br/>
    Vous avez demandé à changer l'email sur votre compte.
    <br/>
    Pour valider la demande veuillez indiquer le code <b>{{ key }}</b> sur le site
    <br/>
    <br/>
    Cordialement, VamosMT2.
</p>