<p>
    Bonjour {{ compte }}
    <br/>
    <br/>
    Votre nouvelle adresse e-mail est à présent effective.
    <br/>
    Nous n'enverrons désormais plus d'email sur celle-ci.
    <br/>
    <br/>
    Cordialement, Vamosmt2.
</p>