<p>
    Bonjour {{ account }}
    <br/>
    <br/>
    Votre mot de passe a bien été changé ce jour sur VamosMT2
    <br/>
    <br/>
    En cas de problèmes n'hésitez pas à contacter le support.
    <br/>
    <br/>
    Cordialement, VamosMT2.
</p>