<p>
    Vous avez demandé un nouveau mot de passe sur VamosMT2.
    <br/>
    <br/>
    Vous le trouverez ci-joint, généré aléatoirement.
    <br/>
    Nouveau Mot de passe : {{ newMDP }}
    <br/>
    <br/>
    Bon jeu sur VamosMT2
</p>